version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: ./docker/production/Dockerfile
      target: runner
    container_name: nextjs_app
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      PORT: 3000
      HOSTNAME: 0.0.0.0
    restart: unless-stopped
